* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Doc Flow */

body {
    display: flex;
}

main {
    height: 100%;
    width: 100%;
}

.sidebar-image {
    position: relative;
    height: 100svh;
    width: 66%;
    background-image: url("images/photo-1585202900225-6d3ac20a6962.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* Form Content */



/* Sidebar */

.image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

h1{
    background-color: rgba(0, 0, 0, 45%);
    width: 100%;
    height: 15%;
    margin-top: 20vh;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    height: 100%;
    padding: 1rem;
    width: auto;
}

.img-credit {
    margin: 1em;
    margin-top: auto;
}