@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: Norse-Bold;
    src: url("./font/Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

/* Doc Flow */

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
}

main {
    height: 100svh;
    width: 100%;
    background-color: #f9fafb;
}

.sidebar-image {
    position: relative;
    height: 100svh;
    width: 66%;
    background-image: url("images/photo-1585202900225-6d3ac20a6962.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

a {
    color: #ffffff;
}

/* Form Content */

header {
    margin: 0 2rem 2rem;
    min-height: 33.33svh;
    font-size: 1.25rem;
    font-weight: 450;
}

.opener {
    padding-top: 8rem;
    margin-bottom: 1.5rem;
}

form {
    border: solid 1px #E5E7EB;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.21);
}

fieldset {
    height: 100%;
    padding-bottom: 1rem;
    position: relative;
    border: none;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

legend {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 1.25rem;
    font-weight: 450;
}

fieldset > div {
    margin: 0 2rem 1rem;
}

.spacer {
    width: 100%;
    height: 3.25rem;
    margin: 0;
}

label {
    font-size: .75rem;
}

input {
    height: 1.75rem;
    width: 14rem;
    padding-left: 1ch;
    font-size: .9rem;
    border: solid 1px #E5E7EB;
    border-radius: 4px;
}

input:invalid {
    outline: solid 1px red;
}

input:focus {
    outline: solid 1px blue;
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.28);
}

footer {
    margin: 2rem 2rem 8rem;
}

button {
    padding: .75em 2.25em;
    margin-bottom: 2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #596D48;
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.21);
}

.login-link {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

/* Sidebar */

.image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

h1{
    background-color: rgba(0, 0, 0, 45%);
    width: 100%;
    height: 15%;
    margin-top: 22svh;
    font-family: Norse-Bold;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    height: 100%;
    padding: 1rem 0;
    width: auto;
}

.img-credit {
    margin: 1em;
    margin-top: auto;
}